# ---------------------------
# Dependencias mínimas
# ---------------------------

# Manejo de datos tabulares (dataframes)
pandas

# Cálculos numéricos y soporte a pandas
numpy

# Lectura y escritura de archivos Excel (.xlsx)
openpyxl

# Visualización básica de gráficos
matplotlib
plotly

# Visualización avanzada y estética (basada en matplotlib)
seaborn

# Mapas interactivos (EDA geográfico)
folium

# Nube de palabras
wordcloud

# Ejecución de notebooks (recomendado)
jupyter